[Unit]
Description=Userbot de Divulgacao Shopee
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/shopee
ExecStart=/home/ubuntu/shopee/venv/bin/python3 /home/ubuntu/shopee/divulgacao_canal.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
