[Unit]
Description=Divulgador Automatico Telegram
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/shopee
Environment="PATH=/home/ubuntu/shopee/venv/bin"
ExecStart=/home/ubuntu/shopee/venv/bin/python3 /home/ubuntu/shopee/divulgacao_canal.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
